<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
       <!-- th:fragment="layout-movie(pageContent, pageTitle, additionalCss)"-->
        lang="en">
<head>
    <meta charset="UTF-8">
   <!-- <title th:replace="${pageTitle} ?: ~{}"></title>-->
  <!--  <link rel="stylesheet" th:href="@{/css/style.css}">-->
  <!--  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->
  <!--  <th:block th:replace="${additionalCss} ?: ~{}"></th:block>-->
</head>
<body>
<!--
<div th:replace="~{fragments/fragment-header :: frag-nav}"> </div>

<main th:replace="${pageContent} ?: ~{}"></main>

<div th:replace="~{fragments/fragment-footer :: frag-footer}"> </div>-->
</body>
</html>