<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title}
        )}"
        th:object="${userSession}"
>
<title th:text="#{profil.details.changePassword}"></title>
<main class="main-content">
    <h1 class="text-center" th:text="#{profil.details.changePassword}"></h1>
    <div th:replace="~{fragments/fragment-change-password :: frag-change-password}"></div>
</main>
</html>