<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title}
        )}"
        th:object="${userSession}"
>
<title th:text="#{profil.forgotPassword.title}"></title>
<main class="main-content">
    <h1 class="text-center" th:text="#{profil.forgotPassword.title}"></h1>
    <div th:if="${loginError}" class="alert alert-danger">
        <span th:text="#{error.forgotPassword}"></span>
    </div>

    <form th:action="${'/encheres/forgot-password'}" th:method="post">
        <div class="d-flex flex-row gap-2 justify-content-center">
            <div>

                <h2 th:text="#{profil.forgotPassword.legend}"></h2>

                <label for="email" class="form-label mt-4" th:text="#{profil.forgotPassword.input}"></label>
                <input type="email" class="form-control" name="email" id="email" th:value="*{email}">

            </div>
        </div>
        <div class="d-flex justify-content-center gap-4 flex-column align-items-center my-2">
            <button type="submit" class="btn btn-primary" th:text="#{profil.forgotPassword.save}"></button>
        </div>
    </form>
</main>
</html>