<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title}
        )}"
>
<title th:text="#{profil.forgotPassword.title}"></title>
<main class="main-content">
    <h1 class="text-center" th:text="#{profil.forgotPassword.title}"></h1>

<!--    <p class="alert alert-error" th:each="error : ${#fields.errors('global')}" th:text="#{${error}}"></p>-->
    <div th:if="${forgotError != null}" class="alert alert-danger" role="alert">
        <ul>
            <li th:each="error : ${forgotError}" th:text="${error}"></li>
        </ul>
    </div>


    <form th:action="${'/encheres/forgot-password'}" th:method="post">
        <div class="d-flex flex-row gap-2 justify-content-center">
            <div>

                <h2 th:text="#{profil.forgotPassword.legend}"></h2>

                <label for="email" class="form-label mt-4" th:text="#{profil.forgotPassword.input}"></label>
                <input type="email" class="form-control" name="email" id="email" th:value="*{email}">

            </div>
        </div>
        <div class="d-flex justify-content-center gap-4 flex-column align-items-center my-2">
            <button type="submit" class="buttonForgotPassword" th:text="#{profil.forgotPassword.save}"></button>
        </div>
    </form>
</main>
</html>