<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title}
        )}"
        th:object=""
>
<title th:text="#{profil.resetPassword.title}"></title>
<main class="main-content">
    <h1 class="text-center" th:text="#{profil.resetPassword.title}"></h1>
    <div th:if="${resetError}" class="alert alert-danger">
        <span th:text="#{error.resetPassword}"></span>
    </div>
    <form th:action="${'/encheres/reset-password'}" th:method="post">
        <div class="d-flex flex-row gap-2 justify-content-center">
            <div>

                <h2 th:text="#{profil.resetPassword.legend}"></h2>
                <input type="hidden" class="form-control" name="tokenSession" id="tokenSession" th:value="${token}">

                <label for="password" class="form-label mt-4" th:text="#{profil.resetPassword.input}"></label>
                <input type="password" class="form-control" name="password" id="password" required>

                <label for="confirmPassword" class="form-label mt-4" th:text="#{profil.resetPassword.input-retype}" ></label>
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required>

            </div>
        </div>
        <div class="d-flex justify-content-center gap-4 flex-column align-items-center my-2">
            <button type="submit" class="btn btn-primary" th:text="#{profil.save}"></button>
        </div>
    </form>
</main>
</html>