
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title}
        )}"
>

<title th:text="#{detail.bid.title}"></title>

<main class="main-content">
    <div th:if="${soldItem.saleStatus == 2}">
        <div th:if="${userSession.getUserNb() == bid.user.userNb}">
            <h1 class="text-center" th:text="#{details.title.user}"></h1>
        </div>
        <div th:if="${userSession.getUserNb() == soldItem.soldUser.userNb}">
            <h1 class="text-center" th:text="#{details.title.vendeur(${bid.user.username})}"></h1>
        </div>

    </div>
    <div th:unless="${soldItem.saleStatus == 2}">
        <h1 class="text-center" th:text="#{detail.bid.title}"></h1>
    </div>


    <form th:replace="~{fragments/fragment-detail-item :: frag-detail-item('/encheres/detail-item/'+ ${soldItem.itemNb})}"></form>

</main>

</html>