<div class="container-fluid d-flex flex-wrap gap-4 justify-content-center"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="frag-list-bids">

<!--    <div class="bg-dark rounded d-flex flex-row gap-4" th:each="soldItem : ${soldItems}">-->
<div class="listBids" th:each="soldItem : ${soldItems}">
    <a class="soldItem-button" th:href="@{/encheres/detail-item/{item_id}(item_id=${soldItem.itemNb})}">

    <div>
        <img th:src="@{'/images/' + ${soldItem.soldUser.username} + '/image' + ${soldItem.itemNb} + '.png'}" width="200" alt="Image de l'article">
    </div>
    <div class="p-4">
        <p><span class="itemName" th:text="${soldItem.itemName}"></span></p>
        <p><span th:text="'Prix : ' + ${soldItem.initialPrice}"></span></p>
        <p><span th:text="'Fin de l\'enchere : '+ ${soldItem.dateEndBid}"></span></p>
        <p th:if="${soldItem.soldUser.username != 'Utilisateur supprimé'}">
            <a th:href="@{/encheres/informations/vendeur(userId=${soldItem.soldUser.userNb})}" class="usernameDeco">
                <span th:text="'Vendeur : ' + ${soldItem.soldUser.username}"></span>
            </a>
        </p>

        <p class="usernameItalic" th:unless="${soldItem.soldUser.username != 'Utilisateur supprimé'}">
                <span th:text="'Vendeur : ' + ${soldItem.soldUser.username}"></span>
        </p>
    </div>
    </a>
</div>