<div
    xmlns:th="http://www.thymeleaf.org"
    th:fragment="frag-change-password">
    <p class="text-center" th:text="#{change.password.welcome(${userSession.getUsername()})}"></p>
    <div th:if="${loginError}" class="alert alert-danger">
        <span th:text="#{error.register}"></span>
    </div>
    <form th:action="${'/encheres/profil/password'}" th:method="post">
        <div class="d-flex flex-row gap-2 justify-content-center">
            <div>
                <input type="hidden" class="form-control" name="userNb" id="userNb" th:field="*{userSession.userNb}">

                <label for="password" class="form-label mt-4" th:text="#{frag-form-register.password}"></label>
                <input type="password" class="form-control" name="password" id="password" th:value="*{password}">

                <label for="confirmPassword" class="form-label mt-4" th:text="#{frag-form-register.confirmPassword}" ></label>
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">


            </div>
        </div>
        <div class="d-flex justify-content-center gap-4 flex-column align-items-center my-2">

            <button type="submit" class="buttonChangePassword" th:text="#{profil.save}"></button>

            <!-- Button to quit editing and go back to profile page -->
            <button type="button" class="buttonCancel" onclick="window.history.back()" th:text="#{profil.details.cancel}"></button>
        </div>
    </form>
</div>