<form
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="frag-form-register(action)"
        th:action="${action}"
        th:object="${user}"
        th:method="POST"
        class="d-flex flex-column gap-4">
    <div th:replace="~{fragments/fragment-errors :: frag-errors}"></div>
    <p class="error" th:each="error : ${#fields.errors('global')}" th:text="#{${error}}"></p>
    <div th:if="${loginError}" class="alert alert-danger">
        <span th:text="#{error.register}"></span>
    </div>
    <div class="d-flex flex-row gap-2 justify-content-center">
        <div>
            <label for="username" class="form-label mt-4"  th:text="#{frag-form-register.pseudo}"></label>
            <input type="text" class="form-control" name="username" id="username" th:field="*{username}" required>
            <br>
            <div th:replace="~{fragments/fragment-error :: frag-error('username')}"></div>

            <label for="firstname" class="form-label mt-4" th:text="#{frag-form-register.firstname}"></label>
            <input type="text" class="form-control" name="firstname" id="firstname" th:field="*{firstname}">
            <br>
            <div th:replace="~{fragments/fragment-error :: frag-error('firstname')}"></div>

            <label for="phone" class="form-label mt-4" th:text="#{frag-form-register.phone}"></label>
            <input type="text" class="form-control" name="phone" id="phone" th:field="*{phone}">
            <br>
            <div th:replace="~{fragments/fragment-error :: frag-error('phone')}"></div>

            <label for="zipCode" class="form-label mt-4" th:text="#{frag-form-register.zipcode}"></label>
            <input type="text" class="form-control" name="zipCode" id="zipCode" th:field="*{zipCode}">
            <br>
            <div th:replace="~{fragments/fragment-error :: frag-error('zipCode')}"></div>

            <label for="password" class="form-label mt-4" th:text="#{frag-form-register.password}"></label>
            <input type="password" class="form-control" name="password" id="password" th:field="*{password}" required>
            <br>
            <div th:replace="~{fragments/fragment-error :: frag-error('password')}"></div>
        </div>
        <div>
            <label for="lastname" class="form-label mt-4" th:text="#{frag-form-register.lastname}"></label>
            <input type="text" class="form-control" name="lastname" id="lastname" th:field="*{lastname}">
            <br>
            <div th:replace="~{fragments/fragment-error :: frag-error('lastname')}"></div>

            <label for="email" class="form-label mt-4" th:text="#{frag-form-register.email}"></label>
            <input type="text" class="form-control" name="email" id="email" th:field="*{email}">
            <br>
            <div th:replace="~{fragments/fragment-error :: frag-error('email')}"></div>

            <label for="street" class="form-label mt-4" th:text="#{frag-form-register.street}"></label>
            <input type="text" class="form-control" name="street" id="street" th:field="*{street}">
            <br>
            <div th:replace="~{fragments/fragment-error :: frag-error('street')}"></div>

            <label for="city" class="form-label mt-4" th:text="#{frag-form-register.city}"></label>
            <input type="text" class="form-control" name="city" id="city" th:field="*{city}">
            <br>
            <div th:replace="~{fragments/fragment-error :: frag-error('city')}"></div>

            <label for="confirmPassword" class="form-label mt-4" th:text="#{frag-form-register.confirmPassword}"></label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required>
        </div>
    </div>
    <div class="d-flex justify-content-center gap-4">
        <button type="submit" class="btn btn-primary" th:text="#{frag-form-register.create}"></button>
        <a th:href="@{/}">
            <button type="button" class="btn btn-primary" th:text="#{frag-form-register.cancel}"></button>
        </a>
    </div>

</form>