<div class="container-fluid d-flex flex-row gap-4"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="frag-list-bids">
    <div class="bg-dark rounded d-flex flex-row gap-4" th:each="bid : ${bids}">
        <div>
            <img src="#" alt="Image de l'article">
        </div>
        <div class="p-4">
            <p class="lead text-light text-decoration-underline fw-normal" th:text="${bid.soldItem.itemName}"></p>
            <p class="lead text-light">Prix : <span th:text="${bid.soldItem.initialPrice}"></span></p>
            <p class="lead text-light">Fin de l'enchère : <span th:text="${bid.soldItem.dateEndBid}"></span></p>
            <p class="lead text-light">Vendeur : <span th:text="${bid.soldItem.soldUser.username}"></span></p>
        </div>
    </div>
</div>