<header xmlns:th="http://www.thymeleaf.org" th:fragment="frag-header">
    <nav class="navbar navbar-expand-lg bg-dark d-flex justify-content-between" data-bs-theme="dark">
        <div>
            <a th:href="@{/}" class="navbar-brand" th:text="#{header.nav.name}"></a>
        </div>
        <div>
            <a class="navbar-brand" th:href="@{/register}" th:text="#{header.nav.signup}"></a>
            <a class="navbar-brand" th:if="${!#authorization.expression('isAuthenticated')}" th:href="@{/login}" th:text="#{header.nav.login}"></a>
            <a class="navbar-brand" th:if="${#authorization.expression('isAuthenticated')}" th:href="@{/logout}" th:text="#{header.nav.logout}"></a>

        </div>
    </nav>
</header>
